@{
    ViewData["Title"] = "خانه";
}
<section class="text-center">
    <h1 class="display-4">به ایزی‌منو خوش آمدید</h1>
    <p class="lead">منوی دیجیتال، سفارش آنلاین و رزرو میز تنها با چند کلیک.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Menu">مشاهده منو</a>
</section>
